<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Department</h2><hr>
            <br />
            <form method="post" action="/departments/add">
                <div>
                    <label for="Department Name">Last Name:</label>
                    <input id="Department Name" name="departmentName" type="text" />
                </div>
                <hr />
                <input type="submit" class="btn btn-primary pull-right" value="Add Department" /><br /><br /><br />
            </form>
        </div>
    </div>
</div>